@font-face {
  font-family: 'pt';
  src: url('pt_sans-web-bold.woff2') format('woff2'), url('pt_sans-web-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'pt';
  src: url('pt_sans-web-regular.woff2') format('woff2'), url('pt_sans-web-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.regular {
  font-family: 'pt';
  font-weight: regular;
}
.bold {
  font-family: 'pt';
  font-weight: bold;
}
.transition {
  transition: all .2s ease;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.button {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-cta {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  font-family: 'pt';
  font-weight: bold;
  border: 2px solid #ffffff;
  color: #ffffff!important;
  font-size: 15px;
  display: inline-block;
  padding: 8px 20px;
  background-color: #63a0ff;
  text-transform: uppercase;
  margin: 40px auto;
}
.button-cta:hover {
  color: #FFFFFF;
}
.button-cta:active {
  background-color: lightBlue;
  box-shadow: none;
  transform: translateY(2px);
}
@keyframes variate {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(1px);
  }
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body,
html {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a {
  color: #00e;
  text-decoration: none;
  border: 0;
  border-color: transparent;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.app-wrapper {
  display: block;
  height: auto;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
}
body {
  background-color: #FFFFFF;
  font-family: 'pt';
  font-weight: regular;
}
h1 {
  font-family: 'pt';
  font-weight: bold;
  color: #323232;
  font-size: 2.2rem;
  margin: 20px;
  text-transform: uppercase;
}
p {
  font-family: sans-serif;
  margin-bottom: 40px;
  color: #323232;
  line-height: 175%;
  padding: 0 15px;
}
.tbar {
  background-color: #F9F9F9;
  background-image: url("../img/bg.png");
  background-size: 240px;
  color: #6C6C6C;
  display: block;
  padding: 20px;
  width: 100%;
  height: 120px;
  transition: all .2s ease;
  z-index: 30;
}
.tbar .tbar-new {
  font-family: 'pt';
  font-weight: bold;
  color: #323232;
  font-size: 42px;
  position: absolute;
  right: 20px;
}
.tbar .tbar-view {
  font-family: 'pt';
  font-weight: bold;
  display: inline-block;
  font-size: 2.5em;
  width: 100%;
}
.tbar .tbar-view-selector {
  display: inline-block;
}
.tbar .tbar-view-item {
  border-bottom: 5px solid #323232;
  color: #323232;
}
.tbar .tbar-logo {
  display: block;
  margin: -10px auto 10px;
}
body {
  background-image: url("../img/bg_photo.jpg");
  background-color: #FFFFFF;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: auto 50%;
}
.crops-container {
  width: 100%;
  height: 250px;
  z-index: 1;
  position: absolute;
  bottom: 205px;
  text-align: center;
  -webkit-align-items: flex-end;
  display: flex;
  align-items: flex-end;
}
.crops-container:before {
  font-family: 'pt';
  font-weight: bold;
  border-bottom: 1px solid rgba(50, 50, 50, 0.05);
  content: "Adicione um cultivo";
  color: #5B9E29;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 5%;
  padding: 5px 30px;
  text-transform: uppercase;
  width: 90%;
  position: absolute;
  top: 30px;
}
.crops-container .crop-cta {
  display: inline-block;
  width: 28%;
  margin: 0 1.5% 100px 1.5%;
}
.crops-container .crop-cta:active .crop-icon {
  background-color: #5B9E29;
  box-shadow: none;
  color: #FFFFFF;
}
.crops-container .crop-cta:active .crop-icon.tomate-cereja {
  background-image: url("../img/tomate-cereja.png");
}
.crops-container .crop-cta:active .crop-icon.hortela {
  background-image: url("../img/hortela.png");
}
.crops-container .crop-cta:active .crop-icon.morango {
  background-image: url("../img/morango.png");
}
.crops-container .crop-cta:active .crop-icon.alface {
  background-image: url("../img/alface.png");
}
.crops-container .crop-cta:active .crop-icon.cebolinha {
  background-image: url("../img/cebolinha.png");
}
.crops-container .crop-cta:active .crop-icon.manjeiricao {
  background-image: url("../img/manjeiricao.png");
}
.crops-container .crop-icon {
  font-family: 'pt';
  font-weight: bold;
  background-color: rgba(91, 158, 41, 0);
  border-radius: 70px;
  border: 6px solid #5B9E29;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #5B9E29;
  display: inline-block;
  font-size: 50px;
  transition: all .2s ease;
  width: 70px;
  height: 70px;
}
.footer-block {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.soil-container {
  background-color: #B18050;
  height: 210px;
  border-top: 9px solid #8e6740;
  padding: 10px 40px 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
.soil-container .soil-info {
  background-color: rgba(255, 255, 255, 0.25);
}
.soil-container .soil-info-container {
  float: left;
  padding-top: 15px;
  text-align: center;
  width: 49%;
}
.soil-container .soil-info-container:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}
.soil-container .soil-info-type {
  font-family: 'pt';
  font-weight: bold;
  color: #6F301F;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  width: 100%;
}
.soil-container .soil-info-value {
  color: #FFFFFF;
  font-size: 80px;
  letter-spacing: -4.5px;
  line-height: 110%;
  margin-left: -25px;
  position: relative;
}
.soil-container .soil-info-value small {
  font-size: 20px;
  letter-spacing: -1.25px;
  position: absolute;
  top: -15px;
  right: -20px;
}
.soil-container .soil-reservatory-days {
  opacity: 0;
  font-size: 0;
}
.soil-container .soil-reservatory-level {
  background-color: #96BFFF;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.soil-container .soil-reservatory {
  background-color: #C7D8F2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2px;
  position: absolute;
  top: 0px;
  right: 0;
  width: 20px;
  height: 100%;
  transition: all .2s ease;
}
.soil-container .soil-reservatory.active {
  width: 54%;
}
.soil-container .soil-reservatory.active .soil-reservatory-level {
  -webkit-animation: 1s variate infinite alternate ease;
}
.soil-container .soil-reservatory.active .soil-reservatory-days {
  color: #0045b0;
  font-family: 'pt';
  font-weight: regular;
  font-size: 130px;
  line-height: 25%;
  opacity: 1;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 90px;
}
.soil-container .soil-reservatory.active .soil-reservatory-days small {
  font-size: 14px;
  font-family: 'pt';
  font-weight: bold;
  display: inline-block;
}
.crop-info {
  background-image: url("../img/crop/manjeiricao.png");
  background-size: 100px auto;
  margin-bottom: 0!important;
  min-height: 110px;
  background-repeat: no-repeat;
}
.crop-info.manjeiricao {
  background-image: url("../img/crop/manjeiricao.png");
}
.crop-info.tomate-cereja {
  background-image: url("../img/crop/tomate-cereja.png");
}
.crop-info.cebolinha {
  background-image: url("../img/crop/cebolinha.png");
}
.crop-info.alface {
  background-image: url("../img/crop/alface.png");
}
.crop-info .crop-icon {
  display: none !important;
  visibility: hidden;
}
#cropList .crop-item-list {
  background-color: #FFFFFF;
  height: 100%;
  margin-top: 0;
  margin-left: 10px;
  overflow-y: auto;
  padding: 0;
}
#cropList .crop-item-list .crop-item {
  font-family: 'pt';
  font-weight: bold;
  border-bottom: 1px solid #F9F9F9;
  color: #5B9E29;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
#cropList .crop-item-list .crop-item:hover {
  background-color: #e7f7c1;
  color: #3A661A;
}
#cropList .crop-item-list .crop-item:hover .crop {
  opacity: .5;
}
#cropList .crop-item-list .crop {
  background-color: #5B9E29;
  background-size: 120% auto;
  border-bottom: 2px solid rgba(108, 108, 108, 0.1);
  display: inline-block;
  width: 40px;
  height: 43px;
  margin: -10px 10px -18px 3px;
}
#cropList .crop-item-list .crop.tomate-cereja {
  background-image: url("../img/tomate-cereja.png");
}
#cropList .crop-item-list .crop.hortela {
  background-image: url("../img/hortela.png");
}
#cropList .crop-item-list .crop.morango {
  background-image: url("../img/morango.png");
}
#cropList .crop-item-list .crop.alface {
  background-image: url("../img/alface.png");
}
#cropList .crop-item-list .crop.cebolinha {
  background-image: url("../img/cebolinha.png");
}
#cropList .crop-item-list .crop.manjeiricao {
  background-image: url("../img/manjeiricao.png");
}
#cropList .crops-container:before {
  content: "Escolha um cultivo na lista";
}
#cropList .adding {
  transform: translateY(180%);
  transition: all .5s ease;
  z-index: -1;
}
#cropList .soil-info {
  display: none !important;
  visibility: hidden;
}
#cropList .crop-item-list {
  visibility: visible!important;
  display: inline-block !important;
}
#addedCrop .crops-container:before {
  content: "Toque no cultivo para mais informação";
  font-size: 12px;
  padding: 5px 0;
}
#setup {
  background-color: #B7D78A;
  background-image: url("../img/bg_setup.jpg");
  background-size: 100% auto;
  background-position: bottom center;
}
#setup .tbar {
  width: 100%;
  height: 170px;
}
#setup .tbar .tbar-view {
  margin-top: 46px;
}
#setup .tbar .tbar-view-item {
  display: none !important;
  visibility: hidden;
}
#setup .tbar .tbar-view-input {
  background-color: transparent;
  font-family: 'pt';
  font-weight: bold;
  border: none;
  border-bottom: 5px solid #323232;
  color: #323232;
  display: inline-block !important;
  font-size: 38px;
  text-align: left;
  visibility: visible!important;
  width: 250px;
}
#setup .tbar .tbar-view-input:focus {
  outline: 1px rgba(50, 50, 50, 0.1);
}
#setup .tbar .tbar-view-input::-webkit-input-placeholder {
  color: #6C6C6C;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: baseline;
  padding-top: 20px;
}
#setup .naming-title {
  font-size: 14px;
  color: #3A661A;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 60px;
  left: 0;
  text-align: center;
  width: 100%;
}
#setup .naming-dialog {
  width: 100%;
  text-align: center;
}
