<!DOCTYPE html>
<html data-ng-app="hortalizeStatus">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <title>App Hortalize</title>
    </head>
    <body>
        <div class="app-wrapper" >
            <header class="tbar">
                <!--img src="img/logo.svgz" class="tbar-logo tbar-icon" alt="logo" /-->
                <div class="tbar-view">
                    <span class="tbar-view-possessive">Sua</span>
                    <div class="tbar-view-selector">
                        <a href="#/chicorita" data-ng-click="tab=1" data-ng-class="{'active-item' : tab==1}" class="tbar-view-item">Chicorita</a>
                    </div>
                </div>
            </header>
            <article class="viewBox">
                <div ng-view>
                </div>
            </article> 

        <!-- INLINED VIEWS -->

        <script type="text/ng-template" id="home.html">
        <footer class="soil-container">
            <div class="soil-info">
                <div class="soil-info-container" data-ng-repeat="stat in statsInfo">
                    <span class="soil-info-type">{{stat.type}}</span>
                    <span class="soil-info-value">{{stat.info}}
                        <small>{{stat.unit}}</small>
                    </span>
                </div>
                <div class="soil-reservatory js-reserv" data-ng-repeat="perc in humityLevel">
                    <span class="soil-reservatory-level" style="height: {{perc.info}}%;"></span>
                </div>
            </div>
        </footer>
        </script>
        <!-- THE END -->
        <script src="js/vendor/jquery-2.1.0.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
        <script src="js/vendor/angular-resource.min.js"></script>
        <script src="js/vendor/ng-cordova.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
